.ufields{
    min-width: 300px;
    padding: 15px;
    border-radius: 5px;
    position: relative;
}

#subsactivations input {
    width: 100%;
    border: 1px solid #ddd;
    margin: 0;
    min-height: 50px;
    max-height: 50px;
    padding: inherit;
    margin-bottom: 10px;
}
input#subsactivations-subtn {
    border-style: none;
    min-height: 50px;
    max-height: 50px;
    margin-top: 10px;
    padding: initial;
}
input#subsactivations-subtn:hover{
    transition: .3s;
}

#subsactivations input:active, #subsactivations input:focus{
    outline: none;
}

span.alert_info {
    position: fixed;
    top: 20%;
    right: -10%;
    z-index: 999999;
    padding: 10px 20px;
    border-radius: 5px;
}

.number{
    color: rgb(255 255 255);
}
/* LINK WRAPPER */
.purchase_btnwrap {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
a#purchase-btn {
    padding: 10px 20px;
    border-radius: 3px;
    color: #fff;
    opacity: .8;
}
a#purchase-btn:hover{
    opacity: 1;
}

/* COLORS */
.alert_info{
    background-color: var(--subsactivations_notification_color);
}
.ufields input[type='number'],label{
    color: var(--subsactivations_form_txt_color);
}
#purchase-btn{
    background-color: var(--subsactivations_purchase_btn_color);
}
#subsactivations-subtn{
    background-color: var(--subsactivations_active_btn_color);
}